/*  CAROUSEL
    vds-org-card-v-lg-video_carousel_patch
*/
.voltas-card.voltas-card-video {
    .card-body {
        padding-top: 1rem;
        padding-bottom: 1rem; 
    }
    .card-title{
        margin-bottom: 0rem;
    }
}