.vds-corporate-governance {
    margin-top: -2rem;
    .nav-pills.nav-voltas-tabbed-content .nav-link {
        padding: 1rem 2rem;
    }
}
@media screen and (max-width:767px){
    .nav-voltas-tabbed-content > .nav-item {
        flex-basis: unset;
    }
  }