/*
::::::::::::::::::::::::::::::::::::::::::::::::::::
JUMBOTRON STYLES
::::::::::::::::::::::::::::::::::::::::::::::::::::
*/

/* GENERIC for all Jumbotrons */
/* align jumbotron content center */
.jumbotron {
    text-align: center;
    background-color: #FFFFFF;
    border-radius: 0rem;
    border: none;
    padding: 2rem 2rem;
    h1 {
        margin-bottom: 2rem;
        color: #4392F3;
    } 
    h6 {
        margin-bottom: 2rem;
    }
    p {
        color: #606060;
        margin-bottom: 0rem;
    }
    a {
        color: var(--colors-slate-light_2);
    }
    // moved to mol-button
    // .btn-outline-dark {
    //     border: .125rem solid var(--colors-voltas-dark_1);
    //     color: var(--colors-voltas-dark_1);
    //     box-sizing: border-box;
    //     border-radius: 4px;
    //     text-transform: uppercase;
    //     font-family: Roboto;
    //     font-style: normal;
    //     font-weight: 400;
    //     font-size: .75rem;
    //     font-variant: small-caps;
    //     &:hover {
    //         color: #fff;
    //         background-color: var(--colors-voltas-dark_1);
    //     }
    // }
    .card-overtitle {
        font-size: 0.875rem;
    }
    // compacted version for text headings
    &.jumbotron-compacted {
        padding: 0;
        margin-bottom: 3rem;
        margin-top: 1rem;
    }
    /* JUMBOTRON Muted */
    /* No border, all grey text */  
    &.muted{ 
        h1 {
            color: #606060;
        }
    }
    /* JUMBOTRON Highlighted */
    /* border top and bottom for jumbotron */
    &.highlighted {
        border-top: solid .25rem #80B240;
        border-bottom: solid .25rem #80B240;
        h1 {
            background: linear-gradient(90.35deg, #4392F3 0.08%, #009174 96.12%);
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
    &.vds-docs {
        border-top: solid .5rem #000;
        border-bottom: solid .5rem #000;
        margin: 4rem;
        h1 {
            color: #000;
            font-weight: bold;
            margin-bottom: 0rem;
        }
        h6 {
            margin-bottom: 1rem;
        }
        .card-overtitle {
            font-size: 0.75rem;
            color:#000;
        }
    }
}

/* Give extra padding for large screens */
@media (min-width: 992px){
    .jumbotron {
        padding: 2rem 5rem;
    }
}