/* Facts group (3 facts) */
.card-group.facts-group {
    .card {
        border: 0;
        .card-body {
            text-align: center;
            color: #606060;
            [class^="icon-"], [class*=" icon-"] {
                font-size: 6rem;
                margin-bottom: 1.5rem;
                background: linear-gradient(180deg, #4392F3 -6.2%, #009174 104.18%);
                -webkit-background-clip: text;
                background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }
        .card-title {
            color: #32B598;
            margin-top: 1.5rem;
        }
        .process-steps .card-text{
            @extend .overline;
            color: #096BCE;
        }
    }
}