@font-face {
    font-family: 'vds-icons';
    src:  url('../font/vds-icons-fonts/Voltas.eot');
    src:  url('../font/vds-icons-fonts/Voltas.eot?8vso9e#iefix') format('embedded-opentype'),
      url('../font/vds-icons-fonts/Voltas.ttf?8vso9e') format('truetype'),
      url('../font/vds-icons-fonts/Voltas.woff?8vso9e') format('woff'),
      url('../font/vds-icons-fonts/Voltas.svg?8vso9e#Voltas') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'vds-icons' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
.icon-Customers:before {
  content: "\e900";
}
.icon-Electric-Meter:before {
  content: "\e901";
}
.icon-Experience:before {
  content: "\e902";
}
.icon-Market-Share:before {
  content: "\e903";
}
.icon-Media:before {
  content: "\e904";
}
.icon-Minus:before {
  content: "\e905";
}
.icon-MLD:before {
  content: "\e906";
}
.icon-Office:before {
  content: "\e907";
}
.icon-Pause:before {
  content: "\e908";
}
.icon-Personal-Interview:before {
  content: "\e909";
}
.icon-Placements:before {
  content: "\e90a";
}
.icon-Play:before {
  content: "\e90b";
}
.icon-Plus:before {
  content: "\e90c";
}
.icon-Principals:before {
  content: "\e90d";
}
.icon-Projects-1:before {
  content: "\e90e";
}
.icon-Projects-2:before {
  content: "\e90f";
}
.icon-Query:before {
  content: "\e910";
}
.icon-Recognition:before {
  content: "\e911";
}
.icon-Rewind:before {
  content: "\e912";
}
.icon-Right:before {
  content: "\e913";
}
.icon-School:before {
  content: "\e914";
}
.icon-Search:before {
  content: "\e915";
}
.icon-Student:before {
  content: "\e916";
}
.icon-Support-1:before {
  content: "\e917";
}
.icon-Support-2:before {
  content: "\e918";
}
.icon-Tata-Group:before {
  content: "\e919";
}
.icon-Teacher:before {
  content: "\e91a";
}
.icon-Tons-of-HVAC:before {
  content: "\e91b";
}
.icon-Transcript:before {
  content: "\e91c";
}
.icon-Up:before {
  content: "\e91d";
}
.icon-Upload:before {
  content: "\e91e";
}
.icon-Villages:before {
  content: "\e91f";
}
.icon-Women:before {
  content: "\e920";
}
.icon-Youth-1:before {
  content: "\e921";
}
.icon-Youth-2:before {
  content: "\e922";
}
.icon-Years:before {
  content: "\e923";
}
.icon-Years-compressor1:before {
  content: "\e924";
}
.icon-Application-Acceptance:before {
  content: "\e925";
}
.icon-Application-Review:before {
  content: "\e926";
}
.icon-Audio:before {
  content: "\e927";
}
.icon-Chevron-Down:before {
  content: "\e928";
}
.icon-Chevron-Left:before {
  content: "\e929";
}
.icon-Chevron-Right:before {
  content: "\e92a";
}
.icon-Chevron-Up:before {
  content: "\e92b";
}
.icon-Cross:before {
  content: "\e92c";
}
.icon-Down:before {
  content: "\e92d";
}
.icon-Download:before {
  content: "\e92e";
}
.icon-Employees_Participants:before {
  content: "\e92f";
}
.icon-Farmer:before {
  content: "\e930";
}
.icon-Forward:before {
  content: "\e931";
}
.icon-Globe:before {
  content: "\e932";
}
.icon-HVAC:before {
  content: "\e933";
}
.icon-Investor:before {
  content: "\e934";
}
.icon-Job-Offer:before {
  content: "\e935";
}
.icon-Job-Posting:before {
  content: "\e936";
}
.icon-Left:before {
  content: "\e937";
}
.icon-Legacy:before {
  content: "\e938";
}
