.voltas-fs_card {
    background-color: var(--colors-aqua-light_1)!important;
    .card-body{
        padding: 0.875rem 2rem !important;
    }
    .card-title {
        margin-bottom: 0rem !important;
    }
}
.voltas-fs_card-row {
    @include media-breakpoint-up (md){
        :first-child {
            padding-left: 0rem;
        }
        :last-child {
            padding-right: 0rem;
        }
    }
}