/* Text on Image Card */

// FIXME try addding a card-body to add padding and remove this class
// .voltas-card .card-img-overlay {
//     padding: 2rem;
//     /* position: absolute;
//     top: 0;
//     right: 0;
//     bottom: 0;
//     left: 0;
//     padding: 1.25rem; */
// }
.card.voltas-card.voltas-card-patch .card-body {
    margin-bottom: 2rem;
}

.card.voltas-card.voltas-card-patch.cta .card-body {
    margin-bottom: 11rem;
}

.card.voltas-card.voltas-card-patch .card-body.card-patch-icon {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: auto;
    background: var(--gradient-horizontal-inverted);
    width: 100%;
    margin-bottom: 0rem;
}

.card.voltas-card.voltas-card-patch .card-body.card-patch-icon i {
    font-size: 6rem;
    // margin-left: -1rem;
    // margin-top: -1rem;
}

.card.voltas-card.voltas-card-patch .card-body.card-patch-icon .card-text {
    margin-bottom: 1rem;
}

.card.voltas-card.voltas-card-patch .card-body.card-patch-icon a.btn {
    padding-left: 1.68rem;
    padding-right: 1.68rem;
}

.card.voltas-card.voltas-card-patch .card-patch-text {
    margin-left: -2rem;
}

@media only screen and (max-width: 460px) {
    .card.voltas-card.voltas-card-patch .card-patch-text {
        margin-left: 0rem;
    }
}

@include media-breakpoint-up(md) {
    .card.voltas-card.voltas-card-patch .card-bg-image {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        transition: all .5s;
    }
    .card.voltas-card.voltas-card-patch:hover .card-bg-image,
    .card.voltas-card.voltas-card-patch:focus .card-bg-image {
        transform: scale(1.10);
    }
}