.facts-group.process-steps { 
    .card {
        .step-connector-line-left, .step-connector-line-right {
            background: #C4C4C4;
            height: .125rem;
            position: absolute;
            top: 4.5rem;
            width: 20%;
        }
        .step-connector-line-right {
            right: 0;
        }
        .step-connector-line-left {
            left: 0;
        }
    }
    .card:first-child .step-connector-line-left{
        display: none;
    }
    .card:last-child .step-connector-line-right{
        display: none;
    }
}
@include media-breakpoint-down(sm) {
    .facts-group {
        &.process-steps { 
            .card {
                background-color: transparent !important;
                .step-connector-line-left, .step-connector-line-right {
                    background: #c4c4c4;
                    height: 30%;
                    position: absolute;
                    bottom: -2.25rem;
                    width: 0.125rem;
                    top: unset;
                }
            }
            .step-connector-line-right {
                right: 50% !important;
            }
            .step-connector-line-left {
                display: none;
            }
        }
      }
    }