/*  CAROUSEL
    vds-org-card-v-lg-video_carousel_patch
*/
.voltas-card.voltas-card-video {
    .card-body {
        padding-top: 1rem;
        padding-bottom: 1rem; 
    }
    .card-title{
        margin-bottom: 0rem;
    }
    .carousel-control-prev, .carousel-control-next {
        top:40%;
    }
    .carousel-control-prev {
        left: 0rem;
        right: unset;
       
    }
    .carousel-control-next {
        right: 0rem;
        left: unset;
       
    }
}