/*
::::::::::::::::::::::::::::::::::::::::::::::::::::
CARD STYLES
::::::::::::::::::::::::::::::::::::::::::::::::::::
*/

/* Extends .card and sets all the base properties of
   the default vds card 
*/
.card.voltas-card {
    background-color: #4392F3;
    color: #fff!important;
    border-radius: 0 !important;
    border: 0;
    margin-bottom: 2rem;
    overflow: hidden;
    /* Elevation shadow effect */
    transition: box-shadow 0.2s;
    /* Hover Elevation Animation */
    // &:hover {
    //     box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.25);
    // }
    .card-overtitle {
        font-family: 'FS Elliot Pro';
        font-style: normal;
        font-weight: normal;
        font-size: .625rem;
        line-height: 1.25rem;
        /* identical to box height, or 167% */
        letter-spacing: 0.0625rem;
        text-transform: uppercase;
        margin-bottom: 0.8rem;
    }
    .card-text {
        line-height: 1.5rem;
    }
    .card-title {
        margin-bottom: 1rem;
    }
    .card-subtitle {
        margin-top: 0rem;
        margin-bottom: 1rem;
    }
    .card-body {
        padding: 2rem;
    }
       
    /* secondary card color */
    /* FIXME change to color swatch */
    a {
        color: #fff;
        i {
            transition : padding .5s;
        }
        &:hover{
            i{
                padding-left: 1rem;
            }
        }
    }
     
    // a.btn {
    //     border: solid .125rem;
    //     border-radius: .25rem;
    //     font-size: .75rem;
    //     font-variant: small-caps;
    //     color: #fff;
    //     border-color: var(--colors-aqua-light_2);
    //     padding: .5rem 3rem;
    //     &:hover {
    //         background-color: var(--colors-aqua-light_2);
    //     }
    // }
    .vds-carousel-control-prev,
    .vds-carousel-control-next {
        display: none;
    }
    .card-img-mask {
        overflow: hidden;
        // width: 100%;
        // height: 100%;
    }
    .card-img, .card-img-top {
        transition: all .5s;
    }
    &:hover{
        .card-img, .card-img-top {
            transform: scale(1.10);
        }       
    }
}

.vds-card-carousel {
    .vds-carousel-control-prev,
    .vds-carousel-control-next {
        display: flex !important;
    }
}

/* Image fix for full height image */
/* Make image fit based on card hide with hidden overflow */
/* Usage: class="card-img w-100 h-100 object-fit_cover" */
// FIXME move to general utilities
.card-img.object-fit_cover { 
    object-fit: cover;
}
