<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    {!-- <!-- meta data --> --}
    {layout:seo_tags}
    {!-- <!-- Styles --> --}
    <link rel="stylesheet" href="/assets/css/vds-main.css"> 
    <link rel="preload" href="/assets/font/font-awesome.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript><link rel="stylesheet" href="/assets/font/font-awesome.min.css"></noscript>
    <link rel="preload" href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap"></noscript>
    {!-- <link rel="preload" href="/assets/css/vds-deferred.css" as="style" onload="this.onload=null;this.rel='stylesheet'"> --}
    {!-- <noscript><link rel="stylesheet" href="/assets/css/vds-deferred.css"></noscript> --}
</head>
<body>
{!-- Main Navigation Bar --}
{!-- VDS / ORGANISMS / NAVIGATION --}
{vds-org-navigation}
{!-- Insert Page Content --}
{layout:contents}
{!-- VDS / ORGANISMS / FOOTER --}
{vds-org-footer}
{!-- START JavaScript Includes --}
{!-- <!-- TODO move all common script includes to a LOW variables setting --> --}
<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
<script src="/assets/js/slick.min.js"></script>
<script src="/assets/js/main.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.3.4/gsap.min.js"></script>

{!-- TEMPORARY PLACE FOR TESTING SCRIPTS --}
<script>
    // TODO move all these scripts to their own files per organism
    //TweenLite can tween any numeric property of any object
    $(".facts-group .card-title>span").each(function(){
        
        var $this_span      = $(this),
            counter         = {count:0},
            value_end       = parseInt($this_span.html(), 10),
            value_display   = $this_span;
        
        console.log($this_span);            
        console.log(value_end);            
        // console.log(value_display);            
        
        // gasp.to(counter,{count:value_end, duration: 2, roundProps:"count", onUpdate:updateHandler, ease:Linear.easeNone});
        $(counter).animate({count: "+="+value_end}, {
            duration: 2000,
            step: function() { 
                $this_span.text(Math.round(counter.count));
            },
            complete: function(){
                $this_span.text(Math.round(counter.count));
            }
        });
        function updateHandler() {
            value_display.innerHTML = value_end; 
        }

    });


    // On Document Ready
    $(function() {
        // console.log(ExOnload());
        
        // Executes jQuery code stored in function ExOnLoad once page is loaded
        // These come from components loaded in the page.
        {!-- if(ExOnload){
            console.log( "ExOnload!" );
            //ExOnload();
        }
         --}
        // VDS / ORG / CAROUSEL
        // remove carousel controls when there's only one slide.    
        $('.carousel-inner').each(function() {
            if ($(this).children('div').length === 1) $(this).siblings('.carousel-control-prev, .carousel-control-next').hide();
        });
    });

    

</script>
{!-- END JavaScript Includes --}
</body>
</html>