<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

    <title>{layout:title}</title>
    
    <!-- meta data -->
{layout:page_meta_tags}
    <!-- Styles -->
    <link rel="preload" href="{theme_user_folder_url}site/default/asset/font/font-awesome.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript><link rel="stylesheet" href="{theme_user_folder_url}site/default/asset/font/font-awesome.min.css"></noscript>
    <link rel="preload" href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap"></noscript>
    <link rel="preload" href="{theme_user_folder_url}site/default/asset/css/vds-deferred.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript><link rel="stylesheet" href="{theme_user_folder_url}site/default/asset/css/vds-deferred.css"></noscript>
    <link rel="stylesheet" href="{theme_user_folder_url}site/default/asset/css/vds-main.css"> 
    
</head>
<body>
{!-- Main Navigation Bar --}
{!-- VDS / ORGANISMS / NAVIGATION --}
{vds-org-navigation}    
{!-- Insert Page Content --}    
{layout:contents}
{!-- VDS / ORGANISMS / FOOTER --}
{vds-org-footer}
{!-- START JavaScript Includes --}
{!-- <!-- TODO move all common script includes to a LOW variables setting --> --}
<script src="{theme_user_folder_url}site/default/asset/js/jquery.min.js"></script>
<script src="{theme_user_folder_url}site/default/asset/bootstrap/js/bootstrap.min.js"></script>
<script src="{theme_user_folder_url}site/default/asset/js/main.js"></script>

{!-- TEMPORARY PLACE FOR TESTING SCRIPTS --}
<script>
    // TODO move all these scripts to their own files per organism
    
    // On Document Ready
    $(function() {
        // console.log(ExOnload());
        
        // Executes jQuery code stored in function ExOnLoad once page is loaded
        // These come from components loaded in the page.
        if(ExOnload){
            console.log( "ExOnload!" );
            //ExOnload();
        }
        
        // VDS / ORG / CAROUSEL
        // remove carousel controls when there's only one slide.    
        $('.carousel-inner').each(function() {
            if ($(this).children('div').length === 1) $(this).siblings('.carousel-control-prev, .carousel-control-next').hide();
        });
    });

    // tabbed filtering
    if($(".filter-group").length){
        $(".filter-group").each(function(){
            //console.log($(this).find(".filter-labels a"));
            var $filter_items =  $(this).find(".filter-items");
            console.log($filter_items);
            $(this).find(".filter-labels").on( "click", "a", function(event) {
                event.preventDefault();
                console.log($(this).data("filter"));
                $filter_items.children().show();
                $filter_items.children().not("."+$(this).data("filter")).hide();
            });
        });
    };

</script>
{!-- END JavaScript Includes --}
</body>
</html>