{layout='layouts/_html-wrapper'}

{vds-org-navigation} {!-- Main Navigation Bar --}
{vds-org-header_carousel} {!-- Header Carousel --}
{vds-org-facts_group} {!-- Facts Group --}
{vds-org-jumbotron} {!-- Jumbotron --}
<div class="container">
    <div class="row justify-content-center d-flex">
        {vds-org-card-h-md-image_text_overlay}
        {vds-org-card-v-sm-image_patch}
    </div>
    <div class="row justify-content-center d-flex">
        {vds-org-card-v-sm-image_patch}
        {vds-org-card-h-md-image_text_overlay}
    </div>
    <div class="row justify-content-center d-flex">
        {vds-org-card-h-xl-market} 
    </div>
    <div class="row justify-content-center d-flex">
        {vds-org-card-v-lg-video_carousel_patch}
    </div>
    <div class="row justify-content-center d-flex">
        {vds-org-card-h-xl-gallery_patch}
    </div>
</div>


<div class="container">




    <!--  
    ::::::::::::::::::::::::::::::::::::::::::::::::::::
    PROCESS STEPS GROUP 
    ::::::::::::::::::::::::::::::::::::::::::::::::::::
    -->
    <div class="row justify-content-center d-flex my-3 mb-5">
        <div class="col-12 col-md-12 col-lg-10 d-flex">
            <div class="card-group facts-group w-100">
                <div class="card">
                    <div class="card-body">
                        <i class="fa fa-file-text" aria-hidden="true"></i>
                        <p class="card-text overline">opening<br>posted</p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <i class="fa fa-ambulance" aria-hidden="true"></i>
                        <p class="card-text overline">application<br>acceptance</p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <i class="fa fa-diamond" aria-hidden="true"></i>
                        <p class="card-text overline">application<br>Review</p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <i class="fa fa-car" aria-hidden="true"></i>
                        <p class="card-text overline">personal<br>interview</p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <i class="fa fa-user"></i>
                        <p class="card-text overline">job offer</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--  
    ::::::::::::::::::::::::::::::::::::::::::::::::::::
    CARDS
    ::::::::::::::::::::::::::::::::::::::::::::::::::::
    -->
    <!-- / card-text-over-image-large  -->
    {!-- 
    <div class="row justify-content-center d-flex">
        <div class="col-12 col-md-7 col-lg-6 d-flex">
            <div class="card voltas-card">
                <img src="/themes/user/site/default/asset/img/placeholders/simplifying-lives-card-bg-compressor.png"
                    class="card-img w-100 h-100 object-fit_cover" alt="...">
                <div class="card-img-overlay d-flex flex-column col-11 col-sm-10 col-md-7">
                    <h6 class="card-overtitle">Customer FOCUS</h4>
                        <h1 class="card-title display">Simplifying lives</h1>
                        <p class="card-text">Our customers are always at the center of how we engineer our products and
                            services. We ensure that every interaction makes their lives easier.</p>
                        <i class="fa fa-arrow-right" aria-hidden="true"></i>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-5 col-lg-4 d-flex">
            <div class="card voltas-card">
                <img src="/themes/user/site/default/asset/img/placeholders/card-top-compressor.png" class="card-img-top"
                    alt="...">
                <div class="card-body">
                    <h6 class="card-overtitle">technology</h4>
                        <h1 class="card-title display">Through intelligent technology</h1>
                        <p class="card-text">Our commitment to maintain high professional standards, as well as our
                            dedication to create a healthy.</p>
                        <i class="fa fa-external-link"></i>
                        <!-- <i class="fa fa-external-link-alt"></i> -->
                </div>
            </div>
        </div>
    </div> 
    --}
    <!-- Row -->
    {!-- <div class="row justify-content-center d-flex">
        <div class="col-12 col-md-5 col-lg-4 d-flex">
            <div class="card voltas-card secundary">
                <img src="/themes/user/site/default/asset/img/placeholders/Rectangle-206-compressor.png"
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <h6 class="card-overtitle">technology</h4>
                        <h1 class="card-title display">Through intelligent technology</h1>
                        <p class="card-text">Our commitment to maintain high professional standards, as well as our
                            dedication to create a healthy.</p>
                        <i class="fa fa-arrow-right" aria-hidden="true"></i>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-7 col-lg-6 d-flex">
            <div class="card voltas-card">
                <img src="/themes/user/site/default/asset/img/placeholders/Rectangle-208-compressor.png"
                    class="card-img w-100 h-100 object-fit_cover" alt="...">
                <div class="card-img-overlay d-flex flex-column col-11 col-sm-10 col-md-7">
                    <h6 class="card-overtitle">Customer FOCUS</h4>
                        <h1 class="card-title display">Simplifying lives</h1>
                        <p class="card-text">Our customers are always at the center of how we engineer our products and
                            services. We ensure that every interaction makes their lives easier.</p>
                        <i class="fa fa-arrow-right" aria-hidden="true"></i>
                </div>
            </div>
        </div>
    </div> --}
    <!-- Row -->
    {!--     
    <div class="row justify-content-center d-flex">
        <div class="col-12 col-md-6 col-lg-5 d-flex">
            <div class="card voltas-card w-100">
                <img src="/themes/user/site/default/asset/img/placeholders/card-5-col-compressor.png"
                    class="card-img w-100 h-100 object-fit_cover position-absolute" alt="...">
                <div class="card-body d-flex flex-column col-9 col-lg-11 col-xl-7">
                    <h6 class="card-overtitle">CAREERS</h4>
                        <h1 class="card-title display">Experience your growth</h1>
                        <p class="card-text">Experience the stories of people that are leading us into tomorrow.</p>
                        <i class="fa fa-arrow-right" aria-hidden="true"></i>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-5 d-flex">
            <div class="card voltas-card w-100">
                <img src="/themes/user/site/default/asset/img/placeholders/card-5-col-compressor.png"
                    class="card-img w-100 h-100 object-fit_cover position-absolute" alt="...">
                <div class="card-body d-flex flex-column col-9 col-lg-11 col-xl-7">
                    <h6 class="card-overtitle">CAREERS</h4>
                        <h1 class="card-title display">Experience your growth</h1>
                        <p class="card-text">Experience the stories of people that are leading us into tomorrow.</p>
                        <i class="fa fa-arrow-right" aria-hidden="true"></i>
                </div>
            </div>
        </div>
    </div> 
    --}

    <!-- HORIZONTAL CARD IMG|BODY 8|4 COL -->
    <!-- TODO make mobile card image responsive -->
    <!-- Row -->
    {!-- <div class="row justify-content-center d-flex">
        <div class="col-12">
            <div class="card voltas-card secundary">
                <div class="row no-gutters">
                    <div class="col-lg-8">
                        <!-- <div class="inner">
                            <img src="/themes/user/site/default/asset/img/Screen%20Shot%202020-02-13%20at%2011.48.46%20AM.png" class="w-100">
                        </div> -->
                        <img src="/themes/user/site/default/asset/img/placeholders/fluid-card-left-image-compressor.png"
                            class="card-img w-100 h-100 object-fit_cover">
                    </div>
                    <div class="col-lg-4">
                        <div class="card-body col-12 col-md-10">
                            <h6 class="card-overtitle">over title here</h4>
                                <h1 class="card-title display">Lorem ipsum dolor sit amet</h1>
                                <p class="card-text">Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                                    labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                                    ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                                <i class="fa fa-arrow-right" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> --}

    <!-- Card 6 columns 50/50 IMG / BODY -->
    <!-- Row -->
    <div class="row justify-content-center d-flex">
        <div class="col-12 col-lg-6">
            <div class="card voltas-card voltas-card-hor">
                <div class="row no-gutters">
                    <div class="col-sm-4 col-md-4 col-lg-6">
                        <img src="/themes/user/site/default/asset/img/placeholders/6-6-col-img-body-compressor.png"
                            class="card-img w-100 h-100 object-fit_cover">
                    </div>
                    <div class="col-sm-8 col-md-8 col-lg-6">
                        <div class="card-body">
                            <!-- <h6 class="card-overtitle">over title here</h4> -->
                            <h1 class="card-title display">Technical Skill Development </h1>
                            <p class="card-text">Our courses are crafted to provide marginalised youth and women with
                                the core technical skills they need to make them employable.</p>
                            <i class="fa fa-plus" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- responsive option 2 — Stacking -->
        <div class="col-12 col-lg-6">
            <div class="card voltas-card voltas-card-hor">
                <div class="row no-gutters">
                    <div class="col-md-12 col-lg-6">
                        <img src="/themes/user/site/default/asset/img/placeholders/6-6-col-img-body-compressor.png"
                            class="card-img w-100 h-100 object-fit_cover">
                    </div>
                    <div class="col-md-12 col-lg-6">
                        <div class="card-body">
                            <!-- <h6 class="card-overtitle">over title here</h4> -->
                            <h1 class="card-title display">Technical Skill Development </h1>
                            <p class="card-text">Our courses are crafted to provide marginalised youth and women with
                                the core technical skills they need to make them employable.</p>
                            <i class="fa fa-plus" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--  
    ::::::::::::::::::::::::::::::::::::::::::::::::::::
    VIDEO CARDS
    ::::::::::::::::::::::::::::::::::::::::::::::::::::
    -->
    <!-- VIDEO CARD 1 -->
    <!-- Row -->
    {!-- <div class="row justify-content-center d-flex">
        <div class="col-12 col-md-10">
            <div class="card voltas-card voltas-card-video">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0"
                        allowfullscreen></iframe>
                </div>
                <div class="card-body">
                    <h6 class="card-overtitle">communication</h4>
                        <h1 class="card-title display">A Day of Smart Engineering</h1>
                        <h2 class="h1">Voltas Culture</h2>
                </div>
            </div>
        </div>
    </div>
    <!-- VIDEO CARD 2 -->
    <!-- Row -->
    <div class="row justify-content-center d-flex ">
        <div class="col-12 col-md-10">
            <div class="card voltas-card voltas-card-video">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0"
                        allowfullscreen></iframe>
                </div>
                <div class="card-body">
                    <h6 class="card-overtitle"></h6>
                    <h1 class="card-title display">A Day of Smart Engineering</h1>
                    <h2 class="h1">Voltas Culture</h2>
                </div>
            </div>
        </div>
    </div> --}




</div>