<div class="container">
	<div id="compliance-accordion" class="vds-org-accordion" role="tablist" aria-multiselectable="true">
		<div class="card">
			
			<div id="compliance-content-2022" class="" role="tabpanel" aria-labelledby="compliance-header-2022">
				<div class="card-body">
					<p class="intro-body disclosuretext">To know more, visit </p>
					<p class="intro-body disclosuretext"><a href="/investors/disclosure-under-regulation-46-lodr/">Disclosures under Regulation 46 (LODR)</a></p>
					<p class="intro-body disclosuretext"><a href="/investors/postal-ballot/">Postal Ballot</a></p>
					<p class="intro-body disclosuretext"><a href="/investors/other-compliance/">Other Compliance</a></p>
					<p class="intro-body disclosuretext"><a href="/investors/financial-snapshot/">Financial Snapshot</a></p>
					<p class="intro-body disclosuretext"><a href="/investors/stock-information/">Stock Information</a></p>
					<p class="intro-body disclosuretext"><a href="/investors/schedule-announcements/">Schedule & Announcements</a></p>
					<p class="intro-body disclosuretext"><a href="/investors/kyc-forms-physical-shareholder/">KYC forms - Physical Shareholder</a></p>
					






					<!-- <p class="intro-body disclosuretext"><a href="/images/Investor/schedule-announcements/download/Scrutiniser_Report68AGM.pdf" aria-expanded="true" aria-controls="collapse-9" target="_blank">68th AGM Voting Results and Scrutinizer<i class="fa fa-download iconright" aria-hidden="true"></i></a></p> -->
				</div>
			</div>
		</div>
	</div>
</div>
<style>.iconright{position: absolute;top: 0px;right: -0.5rem;color:#009174;}.disclosuretext{position: relative;}.disclosuretext a{color: #8e8e8e;}.subheading{color:#004992; font-size: 22px;}</style>
