<div class="container vds-org-accordion">
<div class="card"><div class="card-header" role="tab" id="schedule-header"><a data-parent="#disclosure-accordion" href="#schedule-content" aria-expanded="true" aria-controls="schedule-content"><h5 class="mb-0 intro-body">Schedule of Analysts or Institutional Investors Meet </h5></a></div><div id="schedule-content" role="tabpanel" aria-labelledby="schedule-header"><div class="card-body">
	{vds-mod-disclosure-schedule-analyst}
	<h5 class="subheading">Audio/Video Recordings and Transcripts of Post Earnings/Quarterly Calls</h5>
	<div class="card-body">
		<div class="card">
			<div class="card-header" role="tab" id="schedule-audio-header-2023"><a data-toggle="collapse" data-parent="#schedule-header" href="#schedule-audio-content-2023" aria-expanded="true" aria-controls="schedule-audio-content-2023"><h5 class="mb-0 intro-body">2023-24 <i class="fa fa-plus" aria-hidden="true"></i></h5></a></div>
			<div id="schedule-audio-content-2023" class="collapse in" role="tabpanel" aria-labelledby="schedule-audio-header-2023">
				<div class="card-body">
					<p class="intro-body disclosuretext"><a href="/images/Investor/schedule-announcements/download/Voltas_Earnings_Call_Transcript_Q1_FY24.pdf" aria-expanded="true" aria-controls="collapse-9" target="_blank">Transcript of Concall for Q1 FY24<i class="fa fa-download iconright" aria-hidden="true"></i></a></p>
					<p class="intro-body disclosuretext"><a href="/images/Investor/schedule-announcements/download/AnalystMeetingAudioRecordingQ1FY24.pdf" aria-expanded="true" aria-controls="collapse-9" target="_blank">Audio Recording of Concall for Q1 FY24 Results<i class="fa fa-download iconright" aria-hidden="true"></i></a></p>
					<p class="intro-body disclosuretext"><a href="/images/Investor/schedule-announcements/audio/ICI0420230811148730.mp3" aria-expanded="true" aria-controls="collapse-9" target="_blank">Recording of Concall for Q1 FY24 Results<i class="fa fa-download iconright" aria-hidden="true"></i></a></p>
				</div>
			</div>
		</div>
		<div class="card">
			<div class="card-header" role="tab" id="schedule-audio-header-2022"><a data-toggle="collapse" data-parent="#schedule-header" href="#schedule-audio-content-2022" aria-expanded="true" aria-controls="schedule-audio-content-2022"><h5 class="mb-0 intro-body">2022-23 <i class="fa fa-plus" aria-hidden="true"></i></h5></a></div>
			<div id="schedule-audio-content-2022" class="collapse in" role="tabpanel" aria-labelledby="schedule-audio-header-2022">
				<div class="card-body">
					<p class="intro-body disclosuretext"><a href="/images/Investor/schedule-announcements/download/Voltas_Earnings_Call_Transcript_Q4_FY23.pdf" aria-expanded="true" aria-controls="collapse-9" target="_blank">Transcript of Concall for Q4 FY23<i class="fa fa-download iconright" aria-hidden="true"></i></a></p>
					<p class="intro-body disclosuretext"><a href="/images/Investor/schedule-announcements/download/StockExchangeIntimationforAudioRecordingofQ4FY23EarningsCall.pdf" aria-expanded="true" aria-controls="collapse-9" target="_blank">Audio Recording of Concall for Q4 FY23 Results<i class="fa fa-download iconright" aria-hidden="true"></i></a></p>
					<p class="intro-body disclosuretext"><a href="/images/Investor/schedule-announcements/audio/AudioRecordingofConcallforQ4FY23Results.mp3" aria-expanded="true" aria-controls="collapse-9" target="_blank">Recording of Concall for Q4 FY23 Results<i class="fa fa-download iconright" aria-hidden="true"></i></a></p>
					
					
					<p class="intro-body disclosuretext"><a href="/images/Investor/schedule-announcements/download/Voltas_EarningsCallTranscript_Q3FY23.pdf" aria-expanded="true" aria-controls="collapse-9" target="_blank">Transcript of Concall for Q3 FY23<i class="fa fa-download iconright" aria-hidden="true"></i></a></p>
					<p class="intro-body disclosuretext"><a href="/images/Investor/schedule-announcements/download/IntimationofaudiolinkforanalystscallQ3.pdf" aria-expanded="true" aria-controls="collapse-9" target="_blank">Audio Recording of Concall for Q3 FY23 Results<i class="fa fa-download iconright" aria-hidden="true"></i></a></p>
					<p class="intro-body disclosuretext"><a href="/images/Investor/schedule-announcements/audio/Voltas_Concall_Q3FY23.mp3" aria-expanded="true" aria-controls="collapse-9" target="_blank">Recording of Concall for Q3 FY23 Results<i class="fa fa-download iconright" aria-hidden="true"></i></a></p>
					
					<p class="intro-body disclosuretext"><a href="/images/Investor/schedule-announcements/download/Voltas_Q2FY23Transcript.pdf" aria-expanded="true" aria-controls="collapse-9" target="_blank">Transcript of Concall for Q2 FY23<i class="fa fa-download iconright" aria-hidden="true"></i></a></p>
					<p class="intro-body disclosuretext"><a href="/images/Investor/schedule-announcements/download/Analyst_meeting_call_Recording02112022.pdf" aria-expanded="true" aria-controls="collapse-9" target="_blank">Audio Recording of Concall for Q2 FY23 Results<i class="fa fa-download iconright" aria-hidden="true"></i></a></p>
					<p class="intro-body disclosuretext"><a href="/images/Investor/schedule-announcements/audio/Voltas_Concall_Q2FY23.mp3" aria-expanded="true" aria-controls="collapse-9" target="_blank">Recording of Concall for Q2 FY23 Results<i class="fa fa-download iconright" aria-hidden="true"></i></a></p>
					<p class="intro-body disclosuretext"><a href="/images/Investor/schedule-announcements/download/Voltas_Q1_FY23_Transcript.pdf" aria-expanded="true" aria-controls="collapse-9" target="_blank">Transcript of Concall for Q1 FY23<i class="fa fa-download iconright" aria-hidden="true"></i></a></p>
					<p class="intro-body disclosuretext"><a href="/images/Investor/schedule-announcements/download/Recording_of_Concall_for_Q1_FY22-23_Results.pdf" aria-expanded="true" aria-controls="collapse-9" target="_blank">Audio Recording of Concall for Q1 FY23 Results<i class="fa fa-download iconright" aria-hidden="true"></i></a></p>
					<p class="intro-body disclosuretext"><a href="/images/Investor/schedule-announcements/audio/Voltas_Concall_Q1FY23.mp3" aria-expanded="true" aria-controls="collapse-9" target="_blank">Recording of Concall for Q1 FY23 Results<i class="fa fa-download iconright" aria-hidden="true"></i></a></p>
				</div>
			</div>
		</div>
		<div class="card">
			<div class="card-header" role="tab" id="schedule-audio-header-2021"><a data-toggle="collapse" data-parent="#schedule-header" href="#schedule-audio-content-2021" aria-expanded="true" aria-controls="schedule-audio-content-2021"><h5 class="mb-0 intro-body">2021-22 <i class="fa fa-plus" aria-hidden="true"></i></h5></a></div>
			<div id="schedule-audio-content-2021" class="collapse in" role="tabpanel" aria-labelledby="schedule-audio-header-2021">
				<div class="card-body">
					<p class="intro-body disclosuretext"><a href="/images/Investor/schedule-announcements/download/Voltas_Q4FY22_Earnings_Call_Transcript.pdf" aria-expanded="true" aria-controls="collapse-9" target="_blank">Transcript of Concall for Q4FY22<i class="fa fa-download iconright" aria-hidden="true"></i></a></p>
					<p class="intro-body disclosuretext"><a href="/images/Investor/schedule-announcements/audio/CONCALL_QYFY22.mp3" aria-expanded="true" aria-controls="collapse-9" target="_blank">Recording of Concall for Q4 FY22 Results<i class="fa fa-download iconright" aria-hidden="true"></i></a></p>
					<p class="intro-body disclosuretext"><a href="/images/Investor/schedule-announcements/download/Transcript_of_Concall_for_Q3FY22.pdf" aria-expanded="true" aria-controls="collapse-9" target="_blank">Transcript of Concall for Q3FY22<i class="fa fa-download iconright" aria-hidden="true"></i></a></p>
					<p class="intro-body disclosuretext"><a href="/images/Investor/schedule-announcements/audio/CONCALL_Q3FY22.mp3" aria-expanded="true" aria-controls="collapse-9" target="_blank">Recording of Concall for Q3 FY22 Results<i class="fa fa-download iconright" aria-hidden="true"></i></a></p>
				</div>
			</div>
		</div>
	</div>
	</div></div></div>
</div>



<style>.iconright{position: absolute;top: 0px;right: -0.5rem;color:#009174;}.disclosuretext{position: relative;}.disclosuretext a{color: #8e8e8e;}.subheading{color:#004992; font-size: 22px;}</style>