<div class="container vds-org-accordion">
<div class="card"><div class="card-header" role="tab" id="annreturn-header"><a data-parent="#disclosure-accordion" href="#annreturn-content" aria-expanded="true" aria-controls="annreturn-content"><h5 class="mb-0 intro-body">Annual Return </h5></a></div><div id="annreturn-content"  role="tabpanel" aria-labelledby="annreturn-header"><div class="card-body">	
	<div class="row">{!-- Fetch Annual returns based on Category ID = 68 --} {embed="financial-snapshot/_annual-returns"}</div>
	</div></div></div>
</div>



<style>.iconright{position: absolute;top: 0px;right: -0.5rem;color:#009174;}.disclosuretext{position: relative;}.disclosuretext a{color: #8e8e8e;}.subheading{color:#004992; font-size: 22px;}</style>