<div class="container">
	<div id="in-the-news-accordion" class="vds-org-accordion" role="tablist" aria-multiselectable="true">
	{exp:channel:categories channel="{structure:child_listing:short_name}" category_group="5" sort="desc" style="linear" disable="category_fields" cache="yes" refresh="10"}
		
		<div class="card">
			<div class="card-header" role="tab" id="section{count}HeaderId">
				<a 
					data-toggle="collapse" 
					aria-expanded="true" 
					data-parent="#in-the-news-accordion" 
					href="#section{count}ContentId" 
					aria-controls="accordion-1 .item-{count}">
					<h5 class="mb-0 intro-body">
						{category_name}
						<i class="fa fa-plus" aria-hidden="true"></i>
					</h5>
				</a>	
			</div>
			<div 
				id="section{count}ContentId" 
				class="collapse {if count == 1}show{/if} item-{count} pt-4"
				role="tabpanel" 
				aria-labelledby="section{count}HeaderId">
				
				{exp:stash:set name="not_archived" parse="inward"}not {exp:low_variables:parse var="var_archived_entries_cat_id"}{/exp:stash:set}
				{exp:channel:entries channel='{structure:child_listing:short_name}' category="{category_id}" disable='{ch_disable}' dynamic="no" cache="yes" refresh="10"}
					{!-- Announcements go here --}
					{!-- <div class="card">
						<div class="card-body">
							<h1>{title}</h1>
							<p class="card-text">{publication_excerpt}<a class="btn btn-warning" href="{news_publication_download}" role="button">download</a></p>
						</div>
					</div> --}
					<div class="card voltas-card voltas-card-press_release">
						<div class="card-body">
							<h4 class="card-title">
								{if audio_attachment}
								<a href="{audio_attachment}" title="download the audio recording" target="_blank">{title}</a></h4>
							{/if}
							{if download_attachment}
								<a href="{download_attachment}" title="download the document attachment" target="_blank">{title}</a></h4>
							{/if}
							{if transcription_attachment}
								<a href="{transcription_attachment}" title="download the transcription">{title}</a></h4>
							{/if}
								{!-- <a href="{download_attachment}" title="download the transcription" target="_blank">{title}</a></h4> --}
							<p class="card-text">{announcement_excerpt}</p>
							<h6 class="card-overtitle">{entry_date format="%F %Y"}, Mumbai</h6>
							{if audio_attachment}
								<a href="{audio_attachment}" class="press-download" title="download the audio recording" target="_blank"><i class="fa fa-download" aria-hidden="true"></i><span class=""> download audio</span></a>
							{/if}
							{if download_attachment}
								<a href="{download_attachment}" class="press-download" title="download the document attachment" target="_blank"><i class="fa fa-download" aria-hidden="true"></i><span class=""> download pdf</span></a>
							{/if}
							{if transcription_attachment}
								<a href="{transcription_attachment}" class="press-download" title="download the transcription"><i class="fa fa-document" aria-hidden="true"></i><span class=""> download transcription</span></a>
							{/if}
						</div>
					</div>
					{!-- Announcements go here --}
				{/exp:channel:entries}

			</div>
		</div>
		{!-- no results output --}
		{if no_results}
			<div class="alert warn no-results">
				<p>{gv_entries_none}</p>
			</div>
		{/if}
	{/exp:channel:categories}
	</div>
</div>