<div class="container">
	<div id="compliance-accordion" class="vds-org-accordion" role="tablist" aria-multiselectable="true">
		<div class="card">
			<div class="card-header" role="tab" id="compliance-header-2022"><a data-toggle="collapse" data-parent="#compliance-accordion" href="#compliance-content-2022" aria-expanded="true" aria-controls="compliance-content-2022"><h5 class="mb-0 intro-body">2023-24 <i class="fa fa-plus" aria-hidden="true"></i></h5></a></div>
			<div id="compliance-content-2022" class="collapse in" role="tabpanel" aria-labelledby="compliance-header-2022">
				<div class="card-body">
					<div class="card">
						<div class="card-header" role="tab" id="appointmentMerchantHeader"><a data-toggle="collapse" data-parent="#compliance-header-2022" href="#appointmentMerchantcontent" aria-expanded="true" aria-controls="appointmentMerchantcontent"><h5 class="mb-0 intro-body">Appointment of Mr.&nbsp;Jayesh&nbsp;Tulsidas&nbsp;Merchant as an Independent Director<i class="fa fa-plus" aria-hidden="true"></i></h5></a></div>
						<div id="appointmentMerchantcontent" class="collapse in" role="tabpanel" aria-labelledby="appointmentMerchantHeader">
							<div class="card-body">
								<p class="intro-body disclosuretext"><a href="/file-uploads/general/Voltas_Postal_Ballot_Results_15032024.pdf" aria-expanded="true" aria-controls="collapse-9" target="_blank">Voting Results of Postal Ballot through remote e-Voting<i class="fa fa-download iconright" aria-hidden="true"></i></a></p>
								<p class="intro-body disclosuretext"><a href="/file-uploads/general/VoltasPostalBallotNotice_F_13022024.pdf" aria-expanded="true" aria-controls="collapse-9" target="_blank">Voltas Postal Ballot Notice<i class="fa fa-download iconright" aria-hidden="true"></i></a></p>
								<p class="intro-body disclosuretext"><a href="/images/Investor/schedule-announcements/download/CoveringandNewspaperAD_14022024.pdf" aria-expanded="true" aria-controls="collapse-9" target="_blank">Newspaper Advertisement – Disclosure under Regulation 30 of SEBI (Listing Obligations and Disclosure Requirements) Regulations, 2015<i class="fa fa-download iconright" aria-hidden="true"></i></a></p>
							</div>
						</div>
					</div>
					<div class="card">
						<div class="card-header" role="tab" id="appointmentMenonHeader"><a data-toggle="collapse" data-parent="#compliance-header-2022" href="#appointmentMenoncontent" aria-expanded="true" aria-controls="appointmentMenoncontent"><h5 class="mb-0 intro-body">Appointment of Mr.&nbsp;Mukundan&nbsp;C.&nbsp;P.&nbsp;Menon as an Executive Director<i class="fa fa-plus" aria-hidden="true"></i></h5></a></div>
						<div id="appointmentMenoncontent" class="collapse in" role="tabpanel" aria-labelledby="appointmentMenonHeader">
							<div class="card-body">
								<p class="intro-body disclosuretext"><a href="/file-uploads/general/VoltasPostalBallotNotice_F.pdf" aria-expanded="true" aria-controls="collapse-9" target="_blank">Voltas Postal Ballot Notice<i class="fa fa-download iconright" aria-hidden="true"></i></a></p>
								<p class="intro-body disclosuretext mr-2"><a href="/images/Investor/schedule-announcements/download/CoveringandNewspaperAD.pdf" aria-expanded="true" aria-controls="collapse-9" target="_blank">Newspaper Advertisement – Disclosure under Regulation 30 of SEBI (Listing
									Obligations and Disclosure Requirements) Regulations, 2015<i class="fa fa-download iconright" aria-hidden="true"></i></a></p>
									<p class="intro-body disclosuretext"><a href="/file-uploads/general/CoveringResultsPB.pdf" aria-expanded="true" aria-controls="collapse-9" target="_blank">Voting Results of Postal Ballot through remote e-Voting<i class="fa fa-download iconright" aria-hidden="true"></i></a></p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<style>.iconright{position: absolute;top: 0px;right: -0.5rem;color:#009174;}.disclosuretext{position: relative;}.disclosuretext a{color: #8e8e8e;}.subheading{color:#004992; font-size: 22px;}</style>
