<div class="container">
	<div id="compliance-accordion" class="vds-org-accordion" role="tablist" aria-multiselectable="true">
		<div class="card">
			<div class="card-header" role="tab" id="compliance-header-2022"><a data-toggle="collapse" data-parent="#compliance-accordion" href="#compliance-content-2022" aria-expanded="true" aria-controls="compliance-content-2022"><h5 class="mb-0 intro-body">2023-24 <i class="fa fa-plus" aria-hidden="true"></i></h5></a></div>
			<div id="compliance-content-2022" class="collapse in" role="tabpanel" aria-labelledby="compliance-header-2022">
				<div class="card-body">
					<p>&nbsp;</p>
					<!-- <p class="intro-body disclosuretext"><a href="/images/Investor/schedule-announcements/download/Scrutiniser_Report68AGM.pdf" aria-expanded="true" aria-controls="collapse-9" target="_blank">68th AGM Voting Results and Scrutinizer<i class="fa fa-download iconright" aria-hidden="true"></i></a></p> -->
				</div>
			</div>
		</div>
	</div>
</div>
<style>.iconright{position: absolute;top: 0px;right: -0.5rem;color:#009174;}.disclosuretext{position: relative;}.disclosuretext a{color: #8e8e8e;}.subheading{color:#004992; font-size: 22px;}</style>
