{!--  
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
:: VDS / MODULE / IN THE NEWS
:: Usage: 
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
--}
<div class="container">
	<div id="accordionId" class="vds-org-accordion" role="tablist" aria-multiselectable="true">
		

		{exp:stash:set name="not_archived" parse="inward"}not {exp:low_variables:parse var="var_archived_entries_cat_id"}{/exp:stash:set}
		{exp:channel:entries channel='{page_listing_channel}' category="{exp:stash:get name='not_archived' default=''}" disable='{ch_disable}' parse="inward" dynamic="no"}
		{!-- TAGS AVAILABLE:
		{title}
		{publication_display_date}
		{news_publication_download}
		{publication_excerpt}
		--}
		<div class="card">
			<div class="card-header" role="tab" id="section{count}HeaderId">
				<a 
					data-toggle="collapse" 
					aria-expanded="true" 
					data-parent="#accordionId" 
					href="#section{count}ContentId" 
					aria-controls="accordion-1 .item-{count}">
					<h5 class="mb-0 intro-body">
						{if publication_display_date == ""}{entry_date format="%F %d %Y"}{if:else}{publication_display_date format="%F %d %Y"}{/if} / {title}
						<i class="fa fa-plus" aria-hidden="true"></i>
					</h5>
				</a>	
			</div>
			<div 
				id="section{count}ContentId" 
				class="collapse {if count == 1}show{/if} item-{count}"
				role="tabpanel" 
				aria-labelledby="section{count}HeaderId">
				<div class="card-body">
					<h1>some content here</h1>
					<p class="card-text">{publication_excerpt}<a class="btn btn-warning" href="{news_publication_download}" role="button">download</a></p>
				</div>
			</div>
		</div>
		{!-- no results output --}
		{if no_results}
			<div class="alert warn no-results">
				<p>{gv_entries_none}</p>
			</div>
		{/if}
		{!-- pagination --}
		{snp_blog_list_paginate}
		{/exp:channel:entries}
	</div>
</div>