<div class="container">
	{exp:channel:categories channel="{page_listing_channel}" category_group="5" sort="desc" style="linear" disable="category_fields"}
	<div id="accordionId" class="vds-org-accordion" role="tablist" aria-multiselectable="true">
		
		<div class="card">
			<div class="card-header" role="tab" id="section{count}HeaderId">
				<a 
					data-toggle="collapse" 
					aria-expanded="true" 
					data-parent="#accordionId" 
					href="#section{count}ContentId" 
					aria-controls="accordion-1 .item-{count}">
					<h5 class="mb-0 intro-body">
						{category_name}
						<i class="fa fa-plus" aria-hidden="true"></i>
					</h5>
				</a>	
			</div>
			<div 
				id="section{count}ContentId" 
				class="collapse {if count == 1}show{/if} item-{count}"
				role="tabpanel" 
				aria-labelledby="section{count}HeaderId">
				
				{exp:stash:set name="not_archived" parse="inward"}not {exp:low_variables:parse var="var_archived_entries_cat_id"}{/exp:stash:set}
				{exp:channel:entries channel='{page_listing_channel}' category="{category_id}" disable='{ch_disable}' dynamic="no"}
					{!-- Announcements go here --}
					<div class="card">
						<div class="card-body">
							<h1>{title}</h1>
							<p class="card-text">{publication_excerpt}<a class="btn btn-warning" href="{news_publication_download}" role="button">download</a></p>
						</div>
					</div>
					{!-- Announcements go here --}
				{/exp:channel:entries}

			</div>
		</div>
		{!-- no results output --}
		{if no_results}
			<div class="alert warn no-results">
				<p>{gv_entries_none}</p>
			</div>
		{/if}
	</div>
	{/exp:channel:categories}
</div>