{!--  
::::::::::::::::::::::::::::::::::::::::::::::::::::
:: VDS / ORGANISMS / NAVIGATION
:: Usage: {vds-org-navigation}
::::::::::::::::::::::::::::::::::::::::::::::::::::
--}
{!-- GIT BRANCH : feature/nav-search --}

<nav class="navbar navbar-expand-md voltas-navbar">
	<div class="container-fluid">
		<a class="navbar-brand" href="/">
			<img src="/themes/user/site/default/asset/img/logo_white.png" alt="">
		</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarResponsive">
		{exp:structure:nav_basic show_depth="4"}
		{if root:count == 1}
		<ul class="nav navbar-nav ml-auto">
		{/if}
		<li class="nav-item dropdown">
			
			<a class="{if root:has_children}dropdown-toggle{/if} nav-link {if root:active}active{/if}" {if root:has_children}data-toggle="dropdown"{/if}  href="{root:page_url}">{root:title}<span class="nav-indicator"></span></a>
			{if root:has_children}
				<div class="dropdown-menu" role="menu">
					{root:children}
					<a class="dropdown-item {if child:active}active{/if}" {if child:has_children}data-toggle="dropdown"{/if} role="presentation" href="{child:page_url}">{child:title}</a>
				{!--  --}
					{if child:has_children}
						<div class="dropdown-inline-menu" role="menu">
							{child:children}
							<a class="dropdown-item {if grandchild:active}active{/if}" role="presentation" href="{grandchild:page_url}">{grandchild:title}</a>
							{/child:children}
						</div>
					{/if}
				{!--  --}
					{/root:children}
				</div>
			{/if}
		</li>
		{if root:count == root:total_results}
		</ul>
		{/if}
		{/exp:structure:nav_basic}
		
		{!-- nav search --} 
		<form class="form-inline vds-nav-search d-none d-md-block">
			{!-- <div class="hiddenFields">
				<input type="hidden" name="ACT" value="24">
				<input type="hidden" name="RES" value="">
				<input type="hidden" name="meta" value="itND+5wNKzbklw1T+Bvar5KjJ4CDdfHU0quGy/zIFbRfmbP+oWpCWTUvvdseyqhDQgopSUF6ALkyxroo6X838GNj5Pcdz4LIvU0FtmEZZodAl7cqfP6tl6U9DMp7G3HNZa5x91GkjVl7F7bzs4e5xhQKIQOa1w9VE+cDlI/eqofBM1Gh61pfnu0jJO6ZKyrYOu5AJvFbTat1xa5vO6hFJ6iiGwp/OOUmSYZRbWWIjQ2yrR5L+QlS58dYU4KiMSduxsW4BpZ3BWMig06y6kiRKkESbeDwdkyKJPc7P/+WLI3g5G95VIz9rla2cCTCza/qKVjbc8r+Pcm5qT6i7s22YREdMFOvT8Meh05nc4HNkUQBdCazmZzia+OPeV9F3v8ZgY+dFD4doMqiuoBs1W0xqJTUBRwynwDqkIDm/JkdVZWwpUJC1zwPXbvEN+tosNGM">
				<input type="hidden" name="site_id" value="1">
				<input type="hidden" name="csrf_token" value="b0f27d17c19109da90123d869da5b21afc829b1b">
			</div> --}
			<div class="md-form my-0 wrapper">
				<input class="form-search-input" type="text" placeholder="Enter your keyword" aria-label="Search">
				<i class="fa fa-search" aria-hidden="true"></i>
			</div>
        </form>

		</div>
	</div>
</nav>
{!-- :::::::::::::::::::::::::::::::::::::::::::::::::::: --}
{!-- 		END: VDS / ORGANISMS / NAVIGATION 			  --}

  
  