{!--  
::::::::::::::::::::::::::::::::::::::::::::::::::::
:: VDS / ORGANISMS / NAVIGATION
:: Usage: {vds-org-navigation}
::::::::::::::::::::::::::::::::::::::::::::::::::::
--}
<nav class="navbar navbar-expand-md voltas-navbar">
	<div class="container-fluid">
		<a class="navbar-brand" href="/">
			<img src="/themes/user/site/default/asset/img/logo_white.png" alt="">
		</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarResponsive">
		{exp:structure:nav_basic show_depth="4"}
		{if root:count == 1}
		<ul class="nav navbar-nav ml-auto">
		{/if}
		<li class="nav-item dropdown">
			
			<a class="{if root:has_children}dropdown-toggle{/if} nav-link {if root:active}active{/if}" {if root:has_children}data-toggle="dropdown"{/if}  href="{root:page_url}">{root:title}<span class="nav-indicator"></span></a>
			{if root:has_children}
				<div class="dropdown-menu" role="menu">
					{root:children}
					<a class="dropdown-item {if child:active}active{/if}" {if child:has_children}data-toggle="dropdown"{/if} role="presentation" href="{child:page_url}">{child:title}</a>
				{!--  --}
					{if child:has_children}
						<div class="dropdown-inline-menu" role="menu">
							{child:children}
							<a class="dropdown-item {if grandchild:active}active{/if}" role="presentation" href="{grandchild:page_url}">{grandchild:title}</a>
							{/child:children}
						</div>
					{/if}
				{!--  --}
					{/root:children}
				</div>
			{/if}
		</li>
		{if root:count == root:total_results}
		</ul>
		{/if}
		{/exp:structure:nav_basic}
		</div>
	</div>
</nav>
{!-- :::::::::::::::::::::::::::::::::::::::::::::::::::: --}
{!-- 		END: VDS / ORGANISMS / NAVIGATION 			  --}

  
  