<div class="container">
    <div id="accordionId" class="vds-org-accordion" role="tablist" aria-multiselectable="true">
        <div class="card">
            <div class="card-header" role="tab" id="section1HeaderId">
                <a data-toggle="collapse" data-parent="#accordionId" href="#section1ContentId" aria-expanded="true" aria-controls="section1ContentId">
                <h5 class="mb-0 intro-body">
                    Section 1
                    <i class="fa fa-plus" aria-hidden="true"></i>
                </h5>
            </a>	
            </div>
            <div id="section1ContentId" class="collapse in" role="tabpanel" aria-labelledby="section1HeaderId">
                <div class="card-body">
                    <h1>some content here</h1>
                    <p>some content here some content here some content here some content here some content here some content here </p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" role="tab" id="section1HeaderId">
                <a data-toggle="collapse" data-parent="#accordionId" href="#section1ContentId" aria-expanded="true" aria-controls="section1ContentId">
                <h5 class="mb-0 intro-body">
                    Section 1
                    <i class="fa fa-plus" aria-hidden="true"></i>
                </h5>
            </a>	
            </div>
            <div id="section1ContentId" class="collapse in" role="tabpanel" aria-labelledby="section1HeaderId">
                <div class="card-body">
                    <h1>some content here</h1>
                    <p>some content here some content here some content here some content here some content here some content here </p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" role="tab" id="section1HeaderId">
                <a data-toggle="collapse" data-parent="#accordionId" href="#section1ContentId" aria-expanded="true" aria-controls="section1ContentId">
                <h5 class="mb-0 intro-body">
                    Section 1
                    <i class="fa fa-plus" aria-hidden="true"></i>
                </h5>
            </a>	
            </div>
            <div id="section1ContentId" class="collapse in" role="tabpanel" aria-labelledby="section1HeaderId">
                <div class="card-body">
                    <h1>some content here</h1>
                    <p>some content here some content here some content here some content here some content here some content here </p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" role="tab" id="section1HeaderId">
                <a data-toggle="collapse" data-parent="#accordionId" href="#section1ContentId" aria-expanded="true" aria-controls="section1ContentId">
                <h5 class="mb-0 intro-body">
                    Section 1
                    <i class="fa fa-plus" aria-hidden="true"></i>
                </h5>
            </a>	
            </div>
            <div id="section1ContentId" class="collapse in" role="tabpanel" aria-labelledby="section1HeaderId">
                <div class="card-body">
                    <h1>some content here</h1>
                    <p>some content here some content here some content here some content here some content here some content here </p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" role="tab" id="section1HeaderId">
                <a data-toggle="collapse" data-parent="#accordionId" href="#section1ContentId" aria-expanded="true" aria-controls="section1ContentId">
                <h5 class="mb-0 intro-body">
                    Section 1
                    <i class="fa fa-plus" aria-hidden="true"></i>
                </h5>
            </a>	
            </div>
            <div id="section1ContentId" class="collapse in" role="tabpanel" aria-labelledby="section1HeaderId">
                <div class="card-body">
                    <h1>some content here</h1>
                    <p>some content here some content here some content here some content here some content here some content here </p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" role="tab" id="section1HeaderId">
                <a data-toggle="collapse" data-parent="#accordionId" href="#section1ContentId" aria-expanded="true" aria-controls="section1ContentId">
                <h5 class="mb-0 intro-body">
                    Section 1
                    <i class="fa fa-plus" aria-hidden="true"></i>
                </h5>
            </a>	
            </div>
            <div id="section1ContentId" class="collapse in" role="tabpanel" aria-labelledby="section1HeaderId">
                <div class="card-body">
                    <h1>some content here</h1>
                    <p>some content here some content here some content here some content here some content here some content here </p>
                </div>
            </div>
        </div>
    </div>
</div>