{!--  
::::::::::::::::::::::::::::::::::::::::::::::::::::
:: VDS / ORGANISMS / FACTS GROUP
:: Usage: {vds-org-facts_group}
::::::::::::::::::::::::::::::::::::::::::::::::::::
--}
<div class="container">
    <div class="row justify-content-center d-flex my-3 mb-3">
        <div class="col-12 col-md-12 col-lg-10 d-flex">
            <div class="card-group facts-group w-100">
                {vds-mol-facts_group__fact}
                {vds-mol-facts_group__fact}
                {vds-mol-facts_group__fact}
                {!-- should output this:  --}
                {!-- 
                <div class="card">
                    <div class="card-body">
                        <!-- <i class="fa fa-arrow-right" aria-hidden="true"></i> -->
                        <i class="fa fa-globe" aria-hidden="true"></i>
                        <h3 class="card-title display">8500 and More</h3>
                        <p class="card-text">Voltasites, Innovate Solutions Around the Globe</p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <!-- <i class="fa fa-arrow-right" aria-hidden="true"></i> -->
                        <i class="fa fa-battery-half" aria-hidden="true"></i>
                        <h3 class="card-title display">8500 and More</h3>
                        <p class="card-text">Voltasites, Innovate Solutions Around the Globe</p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <!-- <i class="fa fa-arrow-right" aria-hidden="true"></i> -->
                        <i class="fa fa-car" aria-hidden="true"></i>
                        <h3 class="card-title display">8500 and More</h3>
                        <p class="card-text">Voltasites, Innovate Solutions Around the Globe</p>
                    </div>
                </div>
                --}
            </div>
        </div>
    </div>
</div>
{!-- :::::::::::::::::::::::::::::::::::::::::::::::::::: --}
{!-- 		END: VDS / ORGANISMS / FACTS GROUP 			  --}