 {!--  
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
:: VDS / ORGANISMS / INVESTOR TOOLKIT
:: Usage: {vds-org-investor_toolkit}
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
--}
{org_investor_toolkit}
        {!-- {disabled} --}
<div class="card voltas-card card-investor_toolkit preview d-none d-md-block">
  <div class="card-header">
    <h2 class="overline">INVESTOR<br>TOOLKIT</h2>
    <i class="fa fa-download label-icon"></i> 
    <i class="fa fa-times toolkit-close"></i>
  </div>
  <div class="card-body">
    <ul class="card-text">
        <li>Investor Policy <a href="/file-uploads/investor-toolkit/investor_policy_1 (1).pdf" download><i class="fa fa-download"></i></a></li>
        <li>Corporate Information <a href="/file-uploads/investor-toolkit/25988_1.pdf" download><i class="fa fa-download"></i></a></li>
        <li>Fact Sheet <a href="/file-uploads/investor-toolkit/Q2FY22_FACTSHEET.pdf" download><i class="fa fa-download" download></i></a></li>
        <li>Current Quarter <a href="/file-uploads/investor-toolkit/Press_Release-29-10-2021.pdf" download><i class="fa fa-download"></i></a></li>
        <li>Annual Report 2020-21 <a href="/file-uploads/investor-toolkit/Voltas Annual Report 2020-2021.pdf" download><i class="fa fa-download"></i></a></li>
        <li>10-Year Trend <a href="/file-uploads/investor-toolkit/10_year_trend_sheet (1).pdf" download><i class="fa fa-download"></i></a></li>
        <li>Analysis of Results <a href="/file-uploads/investor-toolkit/FS_QA_Q2FY22.pdf.pdf" download><i class="fa fa-download"></i></a></li>
    </ul>
  </div>
</div>
    {close:org_investor_toolkit}
    {/close:org_investor_toolkit}
{/org_investor_toolkit}
{!-- ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: --}
{!-- 		END: VDS / ORGANISMS / INVESTOR TOOLKIT     --}