{!--  
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
:: VDS / ORGANISMS / CARD - VERTICAL - MEDIUM - IMAGE WITH TEXT OVERLAY
:: Usage: {vds-org-card-h-sm-image_text_overlay}
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
--}
<div class="col-12 col-md-5 col-lg-5 d-flex {custom_css_class}">
    <div class="card voltas-card w-100 bg-{card-plate-color}">
        {if card-image != ""}
        <div class="card-img-mask">
        <img src="{card-image}"
            class="card-img w-100 h-100 object-fit_cover position-absolute" alt="...">
        </div>
        {/if}
        <div class="card-body d-flex flex-column col-10 col-lg-10 col-xl-10">
            {vds-mol-card-body-inner}
        </div>
    </div>
</div>
{!-- ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: --}
{!-- 		END: VDS / ORGANISMS / CARD - VERTICAL - MEDIUM - IMAGE WITH TEXT OVERLAY      --}
