 {!--  
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
:: VDS / ORGANISMS / INVESTOR TOOLKIT
:: Usage: {vds-org-investor_toolkit}
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
--}
{org_investor_toolkit}
        {!-- {disabled} --}
<div class="card voltas-card card-investor_toolkit preview d-none d-md-block">
  <div class="card-header">
    <h2 class="overline">INVESTOR<br>TOOLKIT</h2>
    <i class="fa fa-download label-icon"></i> 
    <i class="fa fa-times toolkit-close"></i>
  </div>
  <div class="card-body">
    <ul class="card-text">
        <li>Investor Policy <a href="{settings_investor_policy}" download><i class="fa fa-download"></i></a></li>
        <li>Corporate Information <a href="{settings_corporate_information}" download><i class="fa fa-download"></i></a></li>
        <li>Fact Sheet <a href="{settings_fact_sheet}" download><i class="fa fa-download" download></i></a></li>
        <li>Current Quarter <a href="{settings_current_quarter}" download><i class="fa fa-download"></i></a></li>
        <li>Annual Report 2018-19 <a href="{settings_annual_report}" download><i class="fa fa-download"></i></a></li>
        <li>10-Year Trend <a href="{settings_10_year_trend}" download><i class="fa fa-download"></i></a></li>
        <li>Analysis of Results <a href="{settings_analysis_of_results}" download><i class="fa fa-download"></i></a></li>
    </ul>
  </div>
</div>
    {close:org_investor_toolkit}
    {/close:org_investor_toolkit}
{/org_investor_toolkit}
{!-- ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: --}
{!-- 		END: VDS / ORGANISMS / INVESTOR TOOLKIT     --}