{!--  
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
:: VDS / MODULE / AWARDS & RECOGNITION
:: Usage: 
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
--}
<div class="container">
	<div id="accordionId" class="vds-org-accordion" role="tablist" aria-multiselectable="true">
	{exp:channel:categories channel="{page_listing_channel}" category_group="8" sort="desc" style="linear" disable="category_fields" cache="yes" refresh="10"}
		
		<div class="card">
			<div class="card-header" role="tab" id="section{count}HeaderId">
				<a 
					data-toggle="collapse" 
					aria-expanded="true" 
					data-parent="#accordionId" 
					href="#section{count}ContentId" 
					aria-controls="accordion-1 .item-{count}">
					<h5 class="mb-0 intro-body">
						{category_name}
						<i class="fa fa-plus" aria-hidden="true"></i>
					</h5>
				</a>	
			</div>
			<div 
				id="section{count}ContentId" 
				class="collapse {if count == 1}show{/if} item-{count}"
				role="tabpanel" 
				aria-labelledby="section{count}HeaderId">
				<div class="row">
				{exp:stash:set name="not_archived" parse="inward"}not {exp:low_variables:parse var="var_archived_entries_cat_id"}{/exp:stash:set}
				{exp:channel:entries channel='{page_listing_channel}' category="{category_id}" disable='{ch_disable}' dynamic="no" cache="yes" refresh="10"}
					{!-- Announcements go here --}
					{vds-mol-awards_card}	
					{!-- Announcements go here --}

					{!-- <div class="col-12 col-md-4 d-flex">
						<div class="card voltas-card voltas-card-awards bg-slate-light_4">
							<div class="card-image-wrapper">
								<img src="http://loremflickr.com/300/640?random=1" class="card-img-top" alt="...">
							</div>
							<div class="card-body">
								<h6 class="card-label">Business:<span> domestic projects</span></h6>
								<h6 class="card-label">recognition: <span> CERTIFICATE OF APPRECIATION</span></h6>
								<h6 class="card-label">Awarded by: <span> SAMSUNG C&T</span></h6>
								<h6 class="card-label">awarded for: <span> ACHIEVing 5.0 million man hours without any lost time
										incident</span></h6>
								<h6 class="card-label">received by: <span> team domestic projects</span></h6>
							</div>
						</div>
					</div> --}
				{/exp:channel:entries}
				</div>
			</div>
		</div>
		{!-- no results output --}
		{if no_results}
			<div class="alert warn no-results">
				<p>{gv_entries_none}</p>
			</div>
		{/if}
	{/exp:channel:categories}
	</div>
</div>