<div class="container-fluid vds-bse-nse-ticker">
    <div class="row">
        <div class="col col-12 col-md-6 vds-bse-nse-left">
            <h1><span>BSE</span> 269.99 <i class="fa fa-arrow-up" aria-hidden="true"></i></h1>
            <p>APR 03. 14:59 | -3.85 (-0.81%) | VOLUME 25311</p>
        </div>
        <div class="col col-12 col-md-6 vds-bse-nse-right">
            <h1><span>NSE</span> 268.55 <i class="fa fa-arrow-up" aria-hidden="true"></i></h1>
            <p>APR 03. 14:59 | -3.85 (-0.81%) | VOLUME 25311</p> 
        </div>
    </div>
</div>