 {!--  
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
:: VDS / ORGANISMS / CARD - HORIZONTAL - XL - GALLERY + PATCH
:: Usage: {vds-org-card-h-xl-gallery_patch}
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
--}
<div class="col-12 {custom_css_class}">
    <div class="card voltas-card bg-{card-plate-color}">
        <div class="row no-gutters">
            {!-- -inverted adds class order-last to swap the content --}
            <div class="col-lg-5{if card_type == "vds-org-card-h-xl-gallery_patch_large-inverted"} order-last{/if}">
                {if card-image != ""}
                <img src="{card-image}" class="card-img w-100 h-100 object-fit_cover" alt="{card_image_alt_text}">
                {/if}
            </div>
            <div class="col-lg-7">
                <div class="card-body col-12 col-md-10">
                    {vds-mol-card-body-inner}
                </div>
            </div>
        </div>
    </div>
</div>
{!-- ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: --}
{!-- 		END: VDS / ORGANISMS / CARD - HORIZONTAL - XL - GALLERY + PATCH      --}