{!--  
::::::::::::::::::::::::::::::::::::::::::::::::::::
:: VDS / ORGANISMS / FOOTER
:: Usage: {vds-org-footer}
::::::::::::::::::::::::::::::::::::::::::::::::::::
--}
<div class="container-fluid voltas-footer">
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-5 footer-section d-none d-md-block">
                    <h1>Quick Links</h1>
                    <div class="row">
                        <div class="col d-flex no-gutters">
                            <ul class="col-6 d-block">
                                <li>About us</li>
                                <li>Businesses</li>
                                <li>Sustainability</li>
                            </ul>
                            <ul class="col-6 d-block">
                                <li>Investors</li>
                                <li>Newsroom</li>
                                <li>Careers</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4 footer-section d-none d-md-block">
                    <h1>Get in Touch</h1>
                    <p>Do you have queries, or need support for any of our products or services?</p>
                    <a href="" class="btn btn-outline-light">contact us</a>
                </div>
                <div class="col-12 col-md-3 footer-section">
                    <h1 class="text-center">Follow us <a href="" class="btn btn-outline-light px-2"><i class="fa fa-linkedin" aria-hidden="true"></i></a></h1>
                </div>
            </div>
        </div>
    </footer>   
</div>
{!-- :::::::::::::::::::::::::::::::::::::::::::::::::::: --}
{!-- 		END: VDS / ORGANISMS / FOOTER 			      --}