<div class="container-fluid vds-bse-nse-ticker">
    <div class="row">
        <div class="col col-12 col-md-6 vds-bse-nse-left">
            <h1><span>BSE</span> <span id="bse-current">0</span> <i class="fa fa-arrow-up" id="bse-indicator-arrow" aria-hidden="true"></i></h1>
            <p><span id="bse-date">APR --</span>. <span id="bse-time">--:--</span> | <span id="bse-change">-3.85</span> (<span id="bse-volumep">-0.81</span>%) | VOLUME <span id="bse-volume">25311</span></p>
        </div>
        <div class="col col-12 col-md-6 vds-bse-nse-right">
            <h1><span>NSE</span> <span id="nse-current">268.55</span> <i class="fa fa-arrow-up" id="nse-indicator-arrow" aria-hidden="true"></i></h1>
            <p><span id="nse-date">APR 03</span>. <span id="nse-time">14:59</span> | <span id="nse-change">-3.85</span> (<span id="nse-volumep">-0.81</span>%) | VOLUME <span id="nse-volume">25311</span></p> 
        </div>
    </div>
</div> 