<div class="container search-container">
	<h1>From our world to yours</h1>
	<div class="row justify-content-center no-gutters col-12 col-md-6 mx-auto mb-4">
        <div class="col-12 d-flex">
			<input type="text" class="vds-news-search-input" name="card-filter-input" id="card-filter-input" placeholder="Search">
			<i class="fa fa-search" id="m-submit" aria-hidden="true"></i>
		</div>
	</div>
</div>

<div class="container">
    <div class="row">
        <div class="col-12">
                {!-- Press Releases --}
                    <div class="row justify-content-center no-gutters col-10 mx-auto">
                    <div id="in-the-news-accordion" class="vds-org-accordion" role="tablist" aria-multiselectable="true">
                    {exp:channel:categories channel="{page_listing_channel}" category_group="8" sort="desc" style="linear" disable="category_fields"}
                        
                        <div class="card">
                            {!-- ACCORDION ROW HEADER --}
                            <div class="card-header" role="tab" id="section{count}HeaderId">
                                <a  data-toggle="collapse" 
                                    aria-expanded="true" 
                                    data-parent="#in-the-news-accordion" 
                                    href="#section{count}ContentId" 
                                    aria-controls="accordion-1 .item-{count}">
                                    <h5 class="mb-0 intro-body">
                                        {category_name}
                                        <i class="fa fa-plus" aria-hidden="true"></i>
                                    </h5>
                                </a>	
                            </div>
                            {!-- ACCORDION ROW BODY CONTAINER --}
                            <div 
                                id="section{count}ContentId" 
                                class="collapse pb-4 filter-group {if count == 1}show{/if} item-{count}"
                                role="tabpanel" 
                                aria-labelledby="section{count}HeaderId">
                                <div class="row justify-content-center no-gutters">
                                    
                                    <div class="col-12 filter-labels mb-4 mt-4">
                                        <ul class="nav nav-pills nav-voltas-tabbed-content small mb-3" id="pills-tab" role="tablist">
                                            <li class="nav-item">
                                                <a class="nav-link" data-filter="all" id="all-tab" data-toggle="pill" href="" role="tab" aria-selected="false">All Press Releases</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" data-filter="new-launch" id="new-launches-tab" data-toggle="pill" href="" role="tab" aria-selected="false">New Launches</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" data-filter="new-venture" id="new-venture-tab" data-toggle="pill" href="" role="tab" aria-selected="false">New Ventures</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" data-filter="financial" id="financial-tab" data-toggle="pill" href="" role="tab" aria-selected="false">Financials</a>
                                            </li>
                                        </ul>
                                    </div>
                                    
                                </div>
                                <div class="row no-gutters filter-items">
                                    {exp:channel:entries channel="{page_listing_channel}" category="{category_id}" disable="{ch_disable}" dynamic="no"}
                                        {!-- Announcements go here --}						
                                        <div class="col-12 all {press_release_type}">
                                            <div class="card voltas-card voltas-card-press_release">
                                                <div class="card-body">
                                                    <h4 class="card-title">{title}</h4>
                                                    <p class="card-text">{publication_excerpt}</p>
                                                    <h6 class="card-overtitle">{entry_date format="%F %Y"}, Mumbai</h6>
                                                    <a href="{publication_download}" class="press-download"><i class="fa fa-download" aria-hidden="true"></i><span class=""> download pdf</span></a>
                                                </div>
                                            </div>
                                        </div>
                                        {!-- Announcements go here --}
                                    {/exp:channel:entries}
                                </div>
                            </div>
                        </div>
                        {!-- no results output --}
                        {if no_results}
                            <div class="alert warn no-results">
                                <p>{gv_entries_none}</p>
                            </div>
                        {/if}
                    {/exp:channel:categories}
                    </div>
        </div>
    </div>
	
	


	</div>
</div>